@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #004E8F;
    --blue: #1A75C1;
    --red: #E53636;
    --gray: #a6a6a6;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

/* Global CSS */
.nao-visivel {
    display: none;
}

main {
    max-width: 1280px;
    margin: auto;
}

button {
    cursor: pointer;
    min-width: 164px;
    color: white;
    border: none;
    height: 40px;
    background-color: var(--dark-blue);
    border-radius: 4px;
    font-size: 16px;
}

button:disabled{
    cursor: not-allowed;
    background-color: var(--gray);
}

button:disabled:hover{
    background-color: var(--gray);
}

button:hover {
    background-color: var(--blue);
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

label {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

input,
select {
    background-color: white;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: 1px solid black;
    padding: 0 16px;
}

input {
    appearance: none;
}

select,
input:not(:last-child) {
    margin-bottom: 24px;
}

.border {
    border: 1px solid var(--dark-blue);
    border-radius: 4px; 
}

/*  */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    color: white;
    height: 56px;
}

.login{
    max-width: 752px;
    margin: auto;
    margin-top: 305px;
}

.login form{
    max-width: 300px;
    margin: 24px auto 32px auto;
}

.login > div:first-child {
    margin-bottom: 16px;
}
.login > div:last-child {
    display: flex;
    justify-content: space-between;
}

.login a{
    color: var(--blue);
    text-decoration: none;
}

.cadastro>*:nth-child(2) {
    padding: 32px;
}

.botoes {
    display: flex;
    justify-content: space-between;
}

.cadastro {
    margin-top: 154px;
}


.vagas {
    margin-top: 82px;
}

.vagas>div>ul {
    list-style: none;
    margin-bottom: 32px;
}

.vagas>div>ul>li:not(:last-child) {
    margin-bottom: 16px;
}


.vagas>div>ul>li {
    cursor: pointer;
    height: 62px;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 4px;
}

.vagas>div>ul>li:hover {
    background-color: #E0E0E0;
}

.vagas>div>ul>li>p>span {
    font-weight: 400;
}

.vagas>*:last-child {
    padding: 32px;
}

.vagas.trabalhador .botoes {
    justify-content: center;
}

.descricao {
    margin-top: 40px;
    min-height: calc(100vh - 80px);
}

.descricao>*:last-child {
    padding: 32px;
}

.descricao>div>div:first-child {
    padding: 24px 32px;
    margin-bottom: 40px;
}

.descricao>div>div:first-child > p {
    font-weight: 700;
}

.descricao>div>div:first-child > p:not(:last-child) {
    margin-bottom: 16px;
}

.descricao>div>div:first-child > p > span {
    font-weight: 500;
}

.descricao>div>div:last-child {
    max-width: 896px;
    margin: auto;
}

.table {
    border: 1px solid var(--dark-blue);
    border-radius: 4px 4px 0 0;
    margin: 24px 0;
}

.table li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 52px;
    align-items: center;
}

.table.recrutador li  {
    grid-template-columns: 1fr 1fr 1fr;
}

.table li:not(:first-child) {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    padding: 0 32px 0 16px;
}

.table li > span:nth-child(2){
    text-align: end;
}

.table.recrutador li > span:nth-child(2) {
    text-align: center;
}

.table button {
    width: 160px;
    background-color: var(--red);
    justify-self: flex-end;
}

.table button:disabled {
    background-color: #a6a6a6;
}

.table li:not(:last-child){
    border-bottom: 1px solid black;
}

.table li:first-child {
    background-color: var(--dark-blue);
    color: white;
    padding: 0 32px;
    border: none;
}

h2 {
    text-align: center;
    font-size: 24px;
}

h3 {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}